# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# YOLO & ML
*.pt
datasets/
runs/
.ipynb_checkpoints

# Project Specific
output/
traffic_sample.mp4

# IDEs
.vscode/
.idea/
.DS_Store
